.add-guard-container {
  padding: 20px;
  background-color: #2d3e50;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto;
  font-family: "Arial", sans-serif;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  margin: 0;
  font-size: 2rem;
  color: #d5d3d3;
}

.close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #d5d3d3;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.add-guard-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4992ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.add-guard-button:hover {
  background-color: #3076d1;
}

.add-guard-button:active {
  background-color: #1e4f8b;
}

/*Add Checkpoint*/
.form-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.left-form {
  width: 45%;
}

.qr-code-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.qr_img{
  background-color:white;
  height:150px;
  width:150px;
}







