.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #4c3e4e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.drawer.open {
  width: 350px;
}

.drawer-content {
  color: white;
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

.profile-info {
  text-align: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid aliceblue;

}

.profile-details {
  text-align: left;
}

.profile-item {
  margin-bottom: 15px;
}

.profile-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-item input {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.edit-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: #45a049;
}
